In [1]:
import pandas as pd

In [2]:
df_offer = pd.read_csv("offer.csv")
print ("%d rows of offers" % df_offer.shape[0])
print ("%d attributes - offers" % df_offer.shape[1])
df_offer.columns = ['referencia', 'puesto', 'description', 'date', 'company']
df_offer = df_offer.fillna(" ")
df_offer["text"] = df_offer["puesto"] + " " + df_offer["description"]
df_offer.head()

720 rows of offers
5 attributes - offers

,referencia,puesto,description,date,company,text
0,HXN342,Business Development Manager Algeria,International packaging company\n <...,1435096800,,Business Development Manager Algeria I...
1,T8962,Directeur de Ressources Humaines,"Notre client, société industrielle, le...",1266274800,,Directeur de Ressources Humaines Notre...
2,HQX347,Gerente de Proyectos I (Junior),BT Global Services is a managed networ...,1417734000,238,Gerente de Proyectos I (Junior) BT Glo...
3,HQX297,Lider de Proyectos Plataforma Linux,BT Global Services is a managed networ...,1417647600,238,Lider de Proyectos Plataforma Linux BT...
4,HQR734,Analista de Gestión de Eventos de Infraestructura,BT Global Services is a managed networ...,1416265200,238,Analista de Gestión de Eventos de Infraestruct...

In [3]:
df_cv = pd.read_csv("cv.csv")
df_cv.columns = ['idcv', 'iduser', 'main_title', 'headline', 'interest']
df_cv = df_cv.fillna(" ")
print ("%d rows of CVs" % df_cv.shape[0])
print ("%d attributes - CVs" % df_cv.shape[1])


df_experience = pd.read_csv("experience.csv")
df_experience.columns = ['id', 'idcv', 'idcity', 'idsector', 'title', 'start', 'end', 'description', 'company', 'current']
df_experience = df_experience.fillna(" ")
print ("%d rows of experience" % df_experience.shape[0])
print ("%d attributes - experience" % df_experience.shape[1])

416 rows of CVs
5 attributes - CVs
760 rows of experience
10 attributes - experience

In [4]:
df_merged = df_cv.merge(df_experience, on='idcv', how='outer')
df_merged = df_merged.fillna(" ")
print ("%d rows of CVs merged" % df_merged.shape[0])
df_merged.head()

877 rows of CVs merged

,idcv,iduser,main_title,headline,interest,id,idcity,idsector,title,start,end,description,company,current
0,789,48,,,,,,,,,,,,
1,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",3257,,6,Social Media Business Strategist,2013-12,,"Social Media Strategist: N-Tranz Records, was ...",N-Tranz Records,1
2,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",3258,,6,Google Digital Analytics Academy,2013-10,,"Google Digital Analytics Academy, gave me the ...",Google,1
3,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",3259,,6,Web Developer | Argi Griego | Social Media Pho...,2013-08,,Project: www.socialzoo.net\nGoal: Web Developm...,Social Zoo,1
4,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",3260,,6,Web Development Manager,2012-05,,E-commerce | and Campaign creator for DF Decor...,DF Decoracion Floral en León,1

In [5]:
df_clean = df_merged[["idcv", "iduser", "main_title", "headline", "interest", "title", "description"]]
print ("%d rows of CVs merged and cleaned" % df_clean.shape[0])
df_clean["text"] = df_clean["main_title"] + " " + df_clean["description"] + " " + df_clean["headline"] + " " + df_clean["interest"] + " " + df_clean["title"] 
print ("%d rows of CVs merged and cleaned and concat" % df_clean.shape[0])
df_clean.head()

877 rows of CVs merged and cleaned
877 rows of CVs merged and cleaned and concat

,idcv,iduser,main_title,headline,interest,title,description,text
0,789,48,,,,,,
1,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",Social Media Business Strategist,"Social Media Strategist: N-Tranz Records, was ...","Social Media Strategist: N-Tranz Records, wa..."
2,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",Google Digital Analytics Academy,"Google Digital Analytics Academy, gave me the ...","Google Digital Analytics Academy, gave me th..."
3,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",Web Developer | Argi Griego | Social Media Pho...,Project: www.socialzoo.net\nGoal: Web Developm...,Project: www.socialzoo.net\nGoal: Web Develo...
4,925,1350,,? Web Developer | ? Social Media Photography a...,"Karate addict for 31 years, personal training ...",Web Development Manager,E-commerce | and Campaign creator for DF Decor...,E-commerce | and Campaign creator for DF Dec...

In [ ]:
def fun_apply(x):
    #print type(x)
    y = ''.join(str(x))
    #print y
    #print "------"
    return y 

df_clean["text2"] = df_clean["text"].apply(lambda x: fun_apply(x))
df_clean.head()

In [6]:
myserie = df_clean.groupby(["idcv"])['text'].apply(lambda x: ''.join(str(x)))
print ("%d rows of TEXT CVs .. grouped by!!" % myserie.shape[0])
print myserie.head()
print type(myserie)
print myserie.index
myserie.index=range(1,myserie.shape[0]+1)
print myserie.index

417 rows of TEXT CVs .. grouped by!!
idcv
424     874            Directora de Desarrollo de Nego...
789            0             \nName: 789.0, dtype: object
925     1      Social Media Strategist: N-Tranz Record...
1464    8       Elaboración de planes y estrategias de...
1542    13      TRANSPORTAR LA MERCANCIA, DESPUÉS DE O...
dtype: object
<class 'pandas.core.series.Series'>
Float64Index([424.0, 789.0, 925.0, 1464.0, 1542.0, 1561.0, 1589.0, 1857.0, 1907.0, 2068.0, 2076.0, 2132.0, 2134.0, 2136.0, 2137.0, 2138.0, 2139.0, 2140.0, 2141.0, 2142.0, 2143.0, 2144.0, 2145.0, 2146.0, 2149.0, 2150.0, 2151.0, 2152.0, 2153.0, 2154.0, 2155.0, 2158.0, 2160.0, 2161.0, 2162.0, 2164.0, 2165.0, 2166.0, 2168.0, 2170.0, 2172.0, 2174.0, 2176.0, 2178.0, 2179.0, 2181.0, 2184.0, 2185.0, 2188.0, 2191.0, 2192.0, 2193.0, 2195.0, 2197.0, 2198.0, 2199.0, 2201.0, 2202.0, 2204.0, 2208.0, 2211.0, 2213.0, 2215.0, 2218.0, 2220.0, 2222.0, 2224.0, 2225.0, 2226.0, 2228.0, 2230.0, 2232.0, 2233.0, 2235.0, 2236.0, 2237.0, 2239.0, 2241.0, 2242.0, 2244.0, 2247.0, 2248.0, 2252.0, 2253.0, 2254.0, 2256.0, 2258.0, 2260.0, 2262.0, 2264.0, 2267.0, 2269.0, 2270.0, 2271.0, 2277.0, 2279.0, 2280.0, 2282.0, 2283.0, 2284.0, ...], dtype='object')
Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...], dtype='int64')

In [7]:
myserie2 = df_clean.groupby(["idcv"])["idcv"].unique()
print ("%d rows of IDCVs .. grouped by!!" % myserie2.shape[0])
print myserie2.head()
print type(myserie2)
print myserie2.index
myserie2.index=range(1,myserie2.shape[0]+1)
print myserie2.index
#for idcv in myserie2:
#    print idcv[0]

417 rows of IDCVs .. grouped by!!
idcv
424      [424.0]
789      [789.0]
925      [925.0]
1464    [1464.0]
1542    [1542.0]
dtype: object
<class 'pandas.core.series.Series'>
Float64Index([424.0, 789.0, 925.0, 1464.0, 1542.0, 1561.0, 1589.0, 1857.0, 1907.0, 2068.0, 2076.0, 2132.0, 2134.0, 2136.0, 2137.0, 2138.0, 2139.0, 2140.0, 2141.0, 2142.0, 2143.0, 2144.0, 2145.0, 2146.0, 2149.0, 2150.0, 2151.0, 2152.0, 2153.0, 2154.0, 2155.0, 2158.0, 2160.0, 2161.0, 2162.0, 2164.0, 2165.0, 2166.0, 2168.0, 2170.0, 2172.0, 2174.0, 2176.0, 2178.0, 2179.0, 2181.0, 2184.0, 2185.0, 2188.0, 2191.0, 2192.0, 2193.0, 2195.0, 2197.0, 2198.0, 2199.0, 2201.0, 2202.0, 2204.0, 2208.0, 2211.0, 2213.0, 2215.0, 2218.0, 2220.0, 2222.0, 2224.0, 2225.0, 2226.0, 2228.0, 2230.0, 2232.0, 2233.0, 2235.0, 2236.0, 2237.0, 2239.0, 2241.0, 2242.0, 2244.0, 2247.0, 2248.0, 2252.0, 2253.0, 2254.0, 2256.0, 2258.0, 2260.0, 2262.0, 2264.0, 2267.0, 2269.0, 2270.0, 2271.0, 2277.0, 2279.0, 2280.0, 2282.0, 2283.0, 2284.0, ...], dtype='object')
Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...], dtype='int64')

In [8]:
df2 = pd.DataFrame()
df2['cleantext'] = myserie
df2['idcv'] = myserie2
df2.head()

#df2['idcv'] = pd.Series(myserie2,index=range(0,len(myserie2)-1))
#df2['idcv2'] = pd.Series(myserie2)
#df2.head()

                                           cleantext      idcv
1  874            Directora de Desarrollo de Nego...   [424.0]
2         0             \nName: 789.0, dtype: object   [789.0]
3  1      Social Media Strategist: N-Tranz Record...   [925.0]
4  8       Elaboración de planes y estrategias de...  [1464.0]
5  13      TRANSPORTAR LA MERCANCIA, DESPUÉS DE O...  [1542.0]

[5 rows x 2 columns]

In [9]:
print df2.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...], dtype='int64')

### Para Ofertas

In [10]:
# extract features
from sklearn.feature_extraction.text import TfidfVectorizer
from time import time

print("OFFERS  >> Extracting features from the data using a sparse TF-IDF vectorizer")
t0 = time()

offer_tfidf_vectorizer = TfidfVectorizer(analyzer=u'word', use_idf=True, max_df=0.3, lowercase=False)
#vectorizer = TfidfVectorizer(analyzer=u'word', use_idf=True)
offer_tfidf_matrix = offer_tfidf_vectorizer.fit_transform(df_offer["text"].tolist())

duration = time() - t0
print("done in %fs" % (duration))
print("n_samples: %d, n_features: %d" % offer_tfidf_matrix.shape)

offer_tfidf_feature_names = offer_tfidf_vectorizer.get_feature_names()

OFFERS  >> Extracting features from the data using a sparse TF-IDF vectorizer
done in 0.158166s
n_samples: 720, n_features: 15842

In [11]:
import csv
with open("offer_tfidf.csv", "w") as file:
    writer = csv.writer(file, delimiter=",")
    writer.writerow(["doc","referencia", "word", "score"])
 
    doc_id = 0
    for doc, row in zip(offer_tfidf_matrix.todense(), df_offer.iterrows()):
        #print "Document %d" %(doc_id)
        ref = row[1]['referencia'] 
                            
        word_id = 0
        for score in doc.tolist()[0]:
            if score > 0:
                word = offer_tfidf_feature_names[word_id]
                writer.writerow([doc_id+1, ref, word.encode("utf-8"), score])
            word_id +=1
        doc_id +=1

### Para CVs

In [12]:
# extract features
print("CVs >> Extracting features from the data using a sparse TF-IDF vectorizer")
t0 = time()

tfidf_vectorizer = TfidfVectorizer(analyzer=u'word', use_idf=True, max_df=0.3, lowercase=False)
#vectorizer = TfidfVectorizer(analyzer=u'word', use_idf=True)
tfidf_matrix = tfidf_vectorizer.fit_transform(df2['cleantext'].tolist())

duration = time() - t0
print("done in %fs" % (duration))
print("n_samples: %d, n_features: %d" % tfidf_matrix.shape)

tfidf_feature_names = tfidf_vectorizer.get_feature_names()

CVs >> Extracting features from the data using a sparse TF-IDF vectorizer
done in 0.014800s
n_samples: 417, n_features: 2843

In [13]:
import csv
with open("cvs_tfidf.csv", "w") as file:
    writer = csv.writer(file, delimiter=",")
    writer.writerow(["doc","idcv", "word", "score"])
 
    doc_id = 0
    for doc, row in zip(tfidf_matrix.todense(), myserie2):
    #for doc in tfidf_matrix.todense():
        #print "Document %d" %(doc_id)
        idcv = row[0] 
        word_id = 0
        for score in doc.tolist()[0]:
            if score > 0:
                word = tfidf_feature_names[word_id]
                writer.writerow([doc_id+1, idcv,word.encode("utf-8"), score])
            word_id +=1
        doc_id +=1

###Similarity

In [14]:
df_identificadores = pd.DataFrame()
df_identificadores = df_offer["referencia"]
df_identificadores.head()
print ("%d rows .. 1st" % df_identificadores.shape[0])

df_ids_all = df_identificadores.append(df2["idcv"]).reset_index(drop=True)

print ("%d rows .. append!!" % df_ids_all.shape[0])
df_ids_all.head()

720 rows .. 1st
1137 rows .. append!!

0    HXN342
1     T8962
2    HQX347
3    HQX297
4    HQR734
dtype: object

In [15]:
df_all = pd.DataFrame()
df_all = df_offer["text"]
df_all.head()
print ("%d rows .. 1st" % df_all.shape[0])
df_completo = df_all.append(df2["cleantext"]).reset_index(drop=True)

print ("%d rows .. append!!" % df_completo.shape[0])
df_completo.head()

720 rows .. 1st
1137 rows .. append!!

0    Business Development Manager Algeria         I...
1    Directeur de Ressources Humaines         Notre...
2    Gerente de Proyectos I (Junior)         BT Glo...
3    Lider de Proyectos Plataforma Linux         BT...
4    Analista de Gestión de Eventos de Infraestruct...
dtype: object

In [16]:
df_completo[724]

'13      TRANSPORTAR LA MERCANCIA, DESPU\xc3\x89S DE ORGANIZ...\n14      ENCARGADO DE M\xc3\x81QUINA PROYECTORA DE YESO, PE\xc3\x93...\n15      RECOGIDA DE MUESTRAS, CONTROL DE TIEMPO DE L...\nName: 1542.0, dtype: object'

In [17]:
# extract features
print("ALL DOCS >> Extracting features from the data using a sparse TF-IDF vectorizer")
t0 = time()

tfidf_vectorizer = TfidfVectorizer(analyzer=u'word', use_idf=True, max_df=0.3, lowercase=False)
#vectorizer = TfidfVectorizer(analyzer=u'word', use_idf=True)
tfidf_all = tfidf_vectorizer.fit_transform(df_completo.tolist())

duration = time() - t0
print("done in %fs" % (duration))
print("n_samples: %d, n_features: %d" % tfidf_matrix.shape)

pairwise_similarity = tfidf_all * tfidf_all.T

# docs similarity
distance_matrix = (pairwise_similarity).A
print "\n\nDocs similarity >> distance matrix:"
print distance_matrix.shape
print distance_matrix[0]

ALL DOCS >> Extracting features from the data using a sparse TF-IDF vectorizer
done in 0.216308s
n_samples: 417, n_features: 2843


Docs similarity >> distance matrix:
(1137, 1137)
[ 1.          0.00649559  0.04562086 ...,  0.          0.          0.        ]

In [18]:
#ojo con los indices... ver lo que sale en df_completo.index[719:721]

import csv
with open("match.csv", "w") as file:
    writer = csv.writer(file, delimiter=",")
    writer.writerow(["doc1","doc2", "score"])
    for x in range(len(df_ids_all)-1):
        for y in range(len(df_ids_all)-1):
            score=distance_matrix[x][y]
            if x < y and score > 0.1:
                if type(df_ids_all[x]) != str and type(df_ids_all[y]) != str: # es un series panda y cojo el indice
                    iddocx= int(df_ids_all[df_ids_all[x]].index[0])
                    iddocy= int(df_ids_all[df_ids_all[y]].index[0])
                    #print iddoc
                    writer.writerow([str(iddocx), str(iddocy), score])
                elif type(df_ids_all[y]) != str:
                    iddoc= int(df_ids_all[df_ids_all[y]].index[0])
                    #print iddoc
                    writer.writerow([str(df_ids_all[x]), str(iddoc), score])
                elif type(df_ids_all[x]) != str:
                    iddoc= int(df_ids_all[df_ids_all[x]].index[0])
                    writer.writerow([str(iddoc), str(df_ids_all[y]), score])
                #print "["+str(x)+","+str(y)+"]= "+str(score)+" -- doc1= "+str(df_ids_all[x])+" y doc2= "+str(df_ids_all[y])

### Match